<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
         <meta charset="UTF-8">
         <title>Starting String Boot Application</title>
    </head>
    <body>
        <div>First note</div>
        <div>Second note</div>
        <table>
            <th:block th:each="allNotes : ${notes}">
                <tr>
                    <td th:text="${allNotes.getNote()}"></td>
                </tr>
            </th:block>
        </table>
        <table>
            <th:block th:each="userNotes : ${userNotes}">
                <tr>
                    <td th:text="${userNotes.getNote()}"></td>
                </tr>
            </th:block>
        </table>
    </body>
</html>