<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Something went wrong!</title>
</head>
<body>
    <div th:text="'There are some mistakes: ' + ${errorString}"></div>
    <form th:action="@{/registrationUser}" th:object="${userCreate}" method="POST">
        <div><input type="text" placeholder="First Name" th:field="*{firstName}"></div>
        <div><input type="text" placeholder="Last Name" th:field="*{lastName}"></div>
        <div><input type="text" placeholder="Email" th:field="*{email}"></div>
        <div><input type="submit" value="Register!"></div>
    </form>
</body>
</html>